.grayedouts{
    color: darkgray;
    /* user-select: none !important; */
    user-select: none; /* supported by Chrome and Opera */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none;
}

.calendarContainer{
    padding-left: 5rem;
}

.tabless{
    width: 23rem;
    background-color: #d3d3d33d;
}

.tableheads{
    padding: 0.5rem;
}

.buttonclose{
    align-self: center;
    justify-self: center;
}