.outer{
    position: absolute;
    top: 4rem;
    width: 100%;
    height: 9rem;
    background-color: #52aca3;
    color: white;
    
    display: flex;
    justify-content: space-between;
}

.content{
    padding-left: 8rem;
    padding-top: 3rem;
}

.outer h5{
    font-weight: bold;
    font-size: 1.5rem;
}

.imageContainer{
    width: 20%;
    padding-top: 2.2rem;
    padding-right: 8rem;
}

.imageIcon{
    width: 100%;
}